div {
  font-family:'Raleway', sans-serif;
  color:#121212;
  border-radius: 0px 24px 24px 0px;
}

.arrow-container {
  display: block;
  text-align: right;  
}

.arrow: {
  text-align: right;
  display: inline;
}

.arrow:hover {
  cursor:pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s linear 0s, opacity 300ms;
}

.setPoint {
  color: #34ebe8;
  font-weight: 900;
}
.controller {
  color: #CC30B7;
  font-weight: 900;
}
.systemDynamics {
  color: #FFFF00;
  font-weight: 900;
}

.heading {
  text-align: left;
  background: #929292;
  font-weight:300;
  line-height:1.7;
  padding: 10px;
  width: 250px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  transition: width 0.4s linear;
  
}

.minimised {
  width: 20px;
}

.maximised {
  width: 250px; 
}

.canvas-paused {
  outline: 10000px solid rgba(0, 0, 0, 0.2);
  outline-offset: -10000px;
}

.canvas-unpaused {
  outline: 0px;
  outline-offset: 0px;
}

canvas {
  background: #525252;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

canvas:hover {
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50vw - 100px);
  left: -webkit-calc(50vw - 100px);
  top: calc(50vh - 100px); 
  top: -webkit-calc(50vh - 100px);
}

img:hover {
  cursor: pointer;
}

.img-paused {
  visibility: visible;
}

.img-unpaused {
  visibility: hidden; 
}

body { 
  margin: 0;
  background-color: #525252;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: #808080; 
  color: #d4d4d4;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition-duration: 0.4s;
  padding: 10px;
  margin: 15px;
  border-radius: 12px;
}

label {
  font-weight:200;
  line-height:1;
  font-size: 14px;
}

button:hover {
  background-color: #adadad;
  color: #5e5e5e;
  cursor: pointer;
}


